<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Apps Starter Project</title>
    <link rel = "preload" as = "font" href="./fonts/Lemon-Regular.ttf" crossorigin>
    <link rel = "preload" as = "font" href="./fonts/LibreFranklin-Regular.ttf" crossorigin>
    <link rel = "preload" as = "font" href="./fonts/MaterialIcons-Regular.ttf" crossorigin>
    <link rel = "preload" as = "style" href="./main~3ed61465.css">
    <link rel="apple-touch-icon" href="../public/images/icons/MaskableLogo_192x192.png">
    <link rel="preconnect" href="https://restaurant-api.dicoding.dev/">
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#3f4441">
    <meta name="description" content="Your restaurant app for your hunger and appetite experience!">
    <meta name="apple-touch-icon" href="/images/icons/Logo_192x192.png">
</head>
<body>
    <a href="#main-page" class = "skip-link">Skip To Main Page</a>
    <header-element></header-element>
    <main id = "main-page">
      
    </main>
    <footer-element></footer-element>
</body>
</html>
